@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div class="row">
    @foreach (var item in Model)
    {
  <div class="card col-md-4 mx-1 my-2" style="width: 18rem;">
  <img src="@item.ImagePath" class="card-img-top pt-2" alt="...">
  <div class="card-body">
       <h5 class="card-title">@item.Name</h5>
    <p class="card-text">@item.Description.</p>
    <div class="card-footer">

        </div>
     <a  asp-action="ProductDetails" asp-area="Customer" asp-controller="Home" class="card-link" asp-route-id="@item.Id">Details</a>
    <a asp-controller="ShoppingCart" asp-action="AddTocart" asp-area="Customer" asp-route-productId="@item.Id" class="card-link">Add TO Cart</a>
  </div>
</div>
        
    }
</div>*@
